*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.container{
    background-image: url("bg2.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.player{
    max-width: 80px;
    height: 60px;
    transform-origin: 10% 60%;
    pointer-events: none;
}
.player-obj{
    width: 80px;
}
#fire{
    position: absolute;
    transform: rotate(90deg);
    width: 20px;
    height: auto;
    top:28px;
    left:68px;
    visibility: hidden;
}

/*health bar start*/

.health-bar {
    position:absolute;
    width: 510px;
    height: 30px;
    background-color: aliceblue;
    top: 100%;
    transform: translate(0, -50px);
    left: 20px;    
}
.bar {
    position: absolute;
    width: 500px;
    height: 21px;
    background-color: rgb(235, 70, 61);
    
    transform: translate(0, -50%);
    top:50%;

    left: 5px;
}
.game-over{
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;  
    visibility: hidden;
}
  

  /*health bar end*/

  /*player ammo start*/
.playerAmmo {
    position:absolute;
    width: 510px;
    height: 30px;
    top: 100%;
    transform: translate(0, -100px);
    left: 20px;    
}
.ammo {
    position: absolute;
    width: 500px;
    height: 21px;
    
    transform: translate(0, -50%);
    top:50%;

    left: 5px;
}
  /*player ammo end*/